<hr class="">
<div class="container">
    <h1 class="h1">Portafolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis non voluptatem veniam, maxime temporibus
        quidem vel, atque debitis inventore velit aliquid aliquam sunt illo expedita eum? Maiores error earum
        distinctio.</p>
    <div class="row d-flex g-4">
        <div class="col-md-4">
            <div class="card h-100 border-0" style="width: 700; height: 400px;">
                <img src="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quod
                        voluptatum expedita debitis dicta dolore.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 border-0" style="width: 700; height: 400px;">
                <img src="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quod
                        voluptatum expedita debitis dicta dolore.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 border-0" style="width: 700; height: 400px;">
                <img src="https://community.softr.io/uploads/db9110/original/2X/7/74e6e7e382d0ff5d7773ca9a87e6f6f8817a68a6.jpegg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quod
                        voluptatum expedita debitis dicta dolore.</p>
                </div>
            </div>
        </div>
    </div>
</div>