<hr>
<div class="container ">
    <div class="row">
        <div class="col-3">
            <img src="https://img.freepik.com/foto-gratis/persona-primer-plano-teclado-mac-inalambrico_23-2148761313.jpg"
                class="rounded rounded-circle" alt="Alguien-Tecleando" style="width: 330px; height: 330px;">
        </div>
        <div class="col-9">
            <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
            <p class="fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo recusandae qui nesciunt
                autem
                dignissimos cumque quia veritatis, optio perferendis ducimus quos saepe, doloremque natus animi ut vero,
                odit
                officia exercitationem.</p>
        </div>
    </div>
</div>